body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

h1 {
    margin: 20px 0;
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.item {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    border-radius: 5px;
}

.item p {
    font-size: 18px;
    color: #555;
}

.item span {
    font-size: 16px;
    color: #888;
}

.main-title {
    font-size: 48px; /* Ajusta el tamaño para hacerlo el doble de grande */
    color: white; /* Cambia el color a rojo */
}
